[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=lxterminal -e "/home/pi/Desktop/videoPlayerSync/playVideo_sync.sh --master"
Name=videoPlayerSync master
